<div class="row">
  <div class="span12">

    <!--Plan sights, hotels, and travel connections on one map!-->
    <h3 class="tagline">友達と地図を共有しながら観光、宿泊の旅行プランを立てよう</h3>
    <div class="createNewPlan">
      <!--create plan button-->
      <ul class="newPlanInput">
        <li><label><span>From: </span></label><input type="date" class="newPlanInput"></li>
        <li><label><span>To: </span></label><input type="date" class="newPlanInput"></li>
        <li>
        <%= form_tag cities_area_path, :method => 'get', :id => "areas_search" do %>
            <%= hidden_field_tag :sort, params[:sort]%>
            <%= select_tag "country", grouped_options_for_select( {'North America' => [['United States','US'], 'Canada'], 'Europe' => [] }) %>
            <%= submit_tag "旅行プランを作成！", :first_name => nil, class: "btn btn-primary btn-large" %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <!--Browse travel plans made with one map -->
    <h3 class="tagline">他のユーザーの旅行プラン</h3>
    <!--create plan button-->
    <div id="browsePlans">
      <form>
        <label><span></span></label><input type="text" class="browseInput country" placeholder="國">
        <a class="btn" id="countryBrowse">サーチ</a>
        <label><span></span></label><input type="text" class="browseInput" placeholder="人気の都市">
        <option value="New York"></option>
        <option value="New York"></option>
        <option value="New York"></option>
        <option value="New York"></option>
        <label><span></span></label><input type="text" class="browseInput" placeholder="旅行のテーマ">
        <option value="Romantic"></option>
        <option value="Family"></option>
        <option value="Adventure"></option>
        <option value="Cultural"></option>

      </form>
      <!--Start New Plan-->
    </div>
  </div>
</div>
<div class="row">
  <div class="span4 examplePlan">

  </div>
  <div class="span4 examplePlan">

  </div>
  <div class="span4 examplePlan">

  </div>
  <div class="span4 examplePlan">

  </div>
  <div class="span4 examplePlan">

  </div>
  <div class="span4 examplePlan">

  </div>
</div>


<hr>
<h3>view plans</h3>
