<div class="row">
  <div class="span12">
    <h3 class="tagline">都市一覧</h3>
    <div class="createNewPlan">
        <% @cities.each do |city| %>
          <ul>
            <li><h4><%= link_to city.name, city %></h4></li>
          </ul>
        <% end %>
        </table>
    </div>
  </div>
</div>
