<li>
  <span class="handle">[drag]</span>
  <div class="nested-fields">
    <%= f.fields_for :spot, Spot.new do |spot| %>
      <%= spot.input :name, label: false, input_html: { readonly: "readonly" } %>
    <% end %>
    <%= f.input :position, as: :hidden %>
  </div>
</li>
