<% content_for :javascript_includes do %>
  <%= javascript_include_tag "plandays/plandays" %>
<% end %>

<h1>New day plan for <%= link_to @plan.title, plan_path(@plan) %></h1>
<h5 id="city_name"><%= @city ? @city.name : "New York" %></h5>

<div class="row-fluid">
  <div class="span3">
    <button class="restaurant">restaurant</button>
    <button class="hotel">hotel</button>
    <button class="sight">sight</button>
    <%= render 'form', action: 'create' %>
  </div>
  <div class="span9">
    <div id="map_canvas"></div>
  </div>
</div>

<div id="spot-list"></div>
