// Place all the styles related to the Plandays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
}

#title h1{
  margin: 3px 0 10px 0;
}

ul.nav.nav-pills{
  margin: 0 0 3px 0;
}

.row-fluid div.span3{
  width: 280px;
}

.city{
  margin: 0 30px 0 15px;
  font-weight: lighter;
}

section.mainSection > h4{
  margin: 10px;
}

.span4 section{
  background-image: linear-gradient(to bottom, #fff7ee, #feeeb4);
  background-repeat: repeat-x;
  border: 1px solid #fedc5f;
  border-color: #fedc5f #fedc5f #edcb59;
  border-radius: 10px;

  -webkit-box-shadow: 1px 1px 3px 0px #9a9a9a;
  -moz-box-shadow: 1px 1px 3px 0px #9A9A9A;
  box-shadow: 1px 1px 5px 1px #9A9A9A;
}

section.mainSection{
  margin-top: -5px;
  padding-bottom: 90px;
  border-radius: 0 0 15px 15px;

}


.date, .time, .budget{
  background-color: white;
  margin: 15px 15px 10px 15px;
  padding: 0px 5px 0px 5px;
  float: left;
  text-align: center;
  border: 1px solid #fedc5f;
  border-color: #fedc5f #fedc5f #edcb59;
  border-radius: 5px;
}
.time, .budget{
  margin: 15px 15px 10px 15px;
  width: 80px;
  padding: 0px 15px 0px 15px;
}

input#Budget_Budget{
  width: 100px;
  margin-bottom: 10px;
}

div.date{
  text-align: center;
  width: 124px;
  margin: 10px 85px 5px 45px;
  padding: 5px 15px 5px 15px;
}

span.hour{
  margin-right: 10px
}
span.currency{
  margin-left: 10px
}

.span4 section:after{
  content: " ";
  padding: 0;
  margin: 0;
  width: 260px;
  position: relative;
  top: -32px;
  line-height: 0px
}


.spots section{
  padding-bottom: 15px;
}

div.span4:after, .spots:after{
  content:".";
  display:block;
  clear:both;
  height:0;
  visibility:hidden
}

.accom-options{
  width: 170px;
  margin: 20px 40px 20px 40px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.spots section{
  width: 100%;
  margin: 5px auto 20px auto;
}


.number{
  background-color:  #fee9a6;
  text-align: center;
  -moz-border-radius: 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.pict, .spots h3, .category, .star, .tags{
  margin: 0 10px 0 10px;
  font-size: 1em;
  line-height: 20px;
}
img.pict{
  float: right;
  width: 95px;
  height: 95px;
}

.spots details{
  text-align: right;
  margin-right: 10px
}

.spots .time, .spots .budget{
  width: 50px;
  margin: 5px 5px 5px 5px;
  float: left;
  text-align: center;
}

.tagline{
  color:  #4e7573
}

label, input{
  float: left;
}

#planName{
  margin: 3px 0 0 0;
}

ul.themeTags, ul.travelGroup{
  margin: 0 25px 0 0;
}

ul.themeTags > li, ul.themeTags > a, ul.travelGroup > li, ul.travelGroup > a{
  float: right;
  margin: 7px 10px 0px 0;
}

ul.themeTags > li, ul.travelGroup > li{
  padding: 5px 10px 5px 10px;
  background: #fee9a6;
  border-radius: 5px;
  border: 1px solid #fedc5f;
  border-color: #fedc5f #fedc5f #edcb59;
}

div.profileInfo > a > h5{
  margin: 2px 0 2px 0 ;
}

ul.themeTags > li > input{
  margin: 0;
  width: 100px;
}

div.profileInfo, img#userProfile {
  float: left;
}

img#userProfile{
  float: left;
  width: 67px;
  height: 67px;
  margin:0 6px 0 0;
}

.planHeader, #title{
  width: 97%;
  margin: 15px 0px 5px 0;
  padding: 0 0 5px 10px;
  background-image: linear-gradient(to bottom, #fff7ee, #feeeb4);
  background-repeat: repeat-x;
  border: 1px solid #fedc5f;
  border-color: #fedc5f #fedc5f #edcb59;
  border-radius: 15px;

  -webkit-box-shadow: 1px 1px 3px 0px #9a9a9a;
  -moz-box-shadow: 1px 1px 3px 0px #9A9A9A;
  box-shadow: 1px 1px 5px 1px #9A9A9A;
}
#title{
  border-radius: 15px 15px 0 0;
}

div.lengthBudget > h5, div.lengthBudget > a{
  float: left;
  margin: 10px 20px 10px 0;
  padding: 0;
}
pull-left.div.lengthBudget > input{
  width: 50px;
  margin-bottom: 5px;
}

.addButton, .lengthBudget{
  width: 300px;
}

div.ratingReviews > h5, div.ratingReviews > a{
  float: left;
  margin: 0;
}

.photoviewer, .mapDiv, .photoviewer ul{
  margin: 0;
}

div.span8.pull-right.mapDiv{
  float:left;
  margin-left: 5px;
}

div#photoContainer{
  width: 99%;

}

.photoNav{
  margin: 4px;
  float:left;
  width: 80px;
  height: 60px;
  overflow: hidden;
}

li.photoNav img {
  border-radius: 3px;
  box-shadow: 0px 2px 3px 1px #9A9A9A;
}
li.photoNav.middle img {
  border-radius: 3px;
  box-shadow: 0px 2px 4px 2px #9A9A9A;
}

.photoNav.middle{
  margin: 4px;
  float:left;
  width: 98px;
  height: 72px;
}

.arrow{
  width: 32px;
  height: 32px;
  float:left;
  margin-top: -405px;
  opacity: 0.8;
}
.arrow.right{
  float: right;
}

div#mapButtonDiv{
  margin: 0 0 0 20px;
  width: 600px;
  background: none;
  box-shadow: none;
}

#map_canvas{
  margin: 0;
  height:487px;
  width: 100%;
  float: left;
  box-shadow: 1px 1px 5px 1px #9A9A9A;
}

div#map_canvas{
  margin-top: 3px;
}

.mapButton {
  float: left;
  margin: -5px 3px 0 3px;
  padding: 10px 8px 0px 8px;
  height: 35px;
  border-radius: 0 0 10px 10px;
}

div.mapSearch, div.mapSearch > a, div.mapSearch > input{
  float: right;
  margin: 0;
}
div.mapSearch > input{
  width: 120px;
  box-shadow: 1px 1px 2px 1px #9A9A9A;
  border-radius: 10px 4px 4px 10px;
}
.btn.mapSearch{
  border-radius:  4px 10px 10px 4px;
}


form.edit_planday, form.edit_planday > hr, form.edit_planday > div{
}
#formStuff{
}
div.pull-left.addButton{
  height: 30px;
}
